<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number of tourists</title>
</head>
<body>
<h2>Total number of tourists who bought excursions by date</h2>
<form th:action="@{/excursions/num-people}" method="post">
    <label for="start">Start date:</label>
    <input id="start" type="datetime-local" name="start"  required>

    <label for="end">End date:</label>
    <input id="end" type="datetime-local" name="end"  required>

    <button type="submit">Next</button>
</form>
</body>
</html>