<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Все люди</title>
</head>
<body>
<p><a href="/tourists/num-tourists">Number of tourists who visited country</a></p>

<p><button><a th:href="@{/tourists/new}">New tourist</a></button></p>
<hr/>
<div th:each="tourist : ${tourists}">
  <p>
    <a th:href="@{/tourists/{id}(id=${tourist.getTouristId()})}" th:text="${tourist.getFirstname() + ', ' + tourist.getLastname()+', pass: ' + tourist.getPassportId()}">user</a>
  </p>
</div>

<br/>
<hr/>

</body>
</html>