<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h2>Edit group</h2>
<form th:action="@{/groups/{id}/edit(id=${group.getGroupId()})}" th:object="${group}" method="post">
  <input type="hidden" th:field="*{groupId}">
  <input type="hidden" th:field="*{peopleNumber}">
  <div>
    <label for="flight">Choose the flight to:</label>
    <select id="flight" th:field="*{flightTo}">
      <option value="">No flight</option>
      <option th:each="flight : ${flights}" th:value="${flight.getFlightId()}" th:text="${flight.getPlaneType() + ': ' + flight.getFlightNumber() + ' ' + flight.getDateTime() + ', ' + flight.getDepartCity() + '-' + flight.getDestinCity()}"></option>
    </select>
  </div>
  <div>
    <label for="flight2">Choose the flight back:</label>
    <select id="flight2" th:field="*{flightBack}">
      <option value="">No flight</option>
      <option th:each="flight : ${flights}" th:value="${flight.getFlightId()}" th:text="${flight.getPlaneType() + ': ' + flight.getFlightNumber() + ' ' + flight.getDateTime() + ', ' + flight.getDepartCity() + '-' + flight.getDestinCity()}"></option>
    </select>
  </div>
  <button type="submit">Update</button>
</form>
</body>
</html>