<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ratio</title>
</head>
<body>
<h2>Select the interval(optional):</h2>

<form th:action="@{/groups/ratio}" method="post">
  <label for="start">Start date:</label>
  <input id="start" th:type="datetime-local" name="start" required>

  <label for="end">End date:</label>
  <input id="end" th:type="datetime-local" name="end" required>
  <button type="submit" >Select</button>
</form>
<br/>
<form th:action="@{/groups/ratio}" method="post">
    <input type="hidden" name="start" th:value="${minDate}">
    <input type="hidden" name="end" th:value="${minDate}">
    <button type="submit">Without interval</button>
</form>
</body>
</html>