<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<header>
  <h1>Information system of a representative office in a foreign country</h1>
</header>
<body>
<p>
    <a href="/tourists">Tourists</a>
</p>
<hr/>
<p>
    <a href="/flights">Flights</a>
</p>
<hr/>
<p>
    <a href="/groups">Groups</a>
</p>
<hr/>
<p>
    <a href="/accommodation">Accommodation</a>
</p>
<hr/>
<p>
    <a href="/excursions">Excursions</a>
</p>
<hr/>
<p>
    <a href="/storage">Storage</a>
</p>
<hr/>
<p>
    <a href="/transport-lists">Transport lists</a>
</p>
</body>
</html>