<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Count reserved rooms</title>
</head>
<body>
<h2>List of hotels with count reserved rooms</h2>
<form th:action="@{/accommodation/count-hotels}" method="post">
  <label for="start">Start date:</label>
  <input id="start" type="datetime-local" name="start"  required>

  <label for="end">End date:</label>
  <input id="end" type="datetime-local" name="end"  required>

  <button type="submit">Next</button>
</form>
</body>
</html>