<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of accommodation</title>
</head>
<body>
<h2 th:text="${'List of accommodation by group No. ' + selectedGroup.getGroupId()}"></h2>
<ul th:each="accommodation : ${accommodations}">
    <li>
        <p><b th:text="${accommodation.getFirstname() + ' ' + accommodation.getLastname() + ' ' + accommodation.getPatronymic()}"></b></p>
        <p th:text="${accommodation.getDateOfBirth() + ', passport: ' + accommodation.getPassportId()}"></p>
        <p th:text="${'Hotel: ' + accommodation.getHotelName() + ', room: ' + accommodation.getTypeRoom() + '. Dates: ' + accommodation.getCheckInDate() + ' - ' + accommodation.getCheckOutDate()}"></p>
    </li>
</ul>
</body>
</html>